# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/
.venv

# Tools
.ruff_cache/
.pytest_cache/
.test_tmp/

# Wandb
wandb/

# OS
.DS_Store

# Training artifacts
checkpoints/
/data/
profiler_traces/
tb_logs/
logs/

# Coverage artifacts
.coverage
.coverage.*
